@use "sass:math";
//======================================== Підключення міксінів =================================================
@import "./utils/mixins";
//======================================== Підключення шрифтів ==================================================
//&display=swap - додати при підключенні через плагін
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

// Підключити, якщо є локальні файли шрифтів
//@import "fonts/_fonts";

//======================================== Підключення іконкових шрифтів ========================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/_icons";

//?======================================== За замовчуванням шрифт ==============================================

$fontFamily: "Roboto";
$fontSize: rem(16);

$mainColor: #000;
$background-color: #ffffff;

//======================================== Налаштування адаптивної сітки ========================================
@import "./base/adaptive";
//======================================== Обнулення ============================================================
@import "./base/zeroing";
@import "./base/settings";
//======================================== Wrapper ==============================================================
@import "./base/wrapper";
//======================================== Налаштування контейнера ==============================================
@import "./utils/container";
//======================================== Підключення змінних ==================================================
@import "./utils/variable";
//======================================== Підключення плейсхолдерів ============================================
@import "./utils/placeholder";
//======================================== Підключення components ===============================================
@import "./common/components";
@import "./common/button";
//===============================================================================================================
@import "./layout/header";
@import "./layout/footer";
//======================================== Підключення сторінок =================================================
@import "./page/index";
//===============================================================================================================
div {
   color: #008000;
}
